/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 16px;
  background-color: #5b96e9;
}
/* line 8, ../sass/_main.scss */
div.main_content div.form_row {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* line 13, ../sass/_main.scss */
div.main_content div.post_div {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-right: 35px;
  border: 2px black solid;
  padding: 4px;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
}
/* line 18, ../sass/_main.scss */
div.main_content div.post_div .post_title {
  font-size: 120%;
}
/* line 22, ../sass/_main.scss */
div.main_content i.changed {
  color: #777777;
}
/* line 25, ../sass/_main.scss */
div.main_content span.likers_list {
  color: #7777cc;
}

/*---------------------*/


/* Search and Sorting */
div.search_bars {
  background-color: white;
  padding:5px;
  margin:8px;
  border: 2px black solid;
  width: 40%;
  border-radius: 25px;
}

div.sorting {
  background-color: white;
  padding:10px;
  margin:8px;
  border: 2px black solid;
  width: 40%;
  border-radius: 25px;
}

span.sorting_title{
  padding:10px;
  text-decoration:underline;
}


/* Add Post Section */
div.add_post {
  background-color: white;
  margin: 5px;
  border: 2px black solid;
  width: 40%;
  border-radius: 25px;
}

div.form_row {
  padding: 5px;
  margin: 8px;
  text-decoration: underline;
  border-radius: 25px;
}

div.new_post_fields {
  border: 1px black solid;
  width: 99%;
  
}
