/*
main.white {
    height: 200px;
    position: relative;
    border: 3px solid #511691
}
*/
div.main_content_slr {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 60%;
    padding: 30px;
    transform: translate(-50%, -50%);
    border: 3px solid #511691;
}

h2.titles {
    color: #5b96e9;
}

div.row {
    color: #5b96e9;
}