
main.white {
    background-color: #5b96e9;
}

div.main_content_slr {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 60%;
    padding: 30px;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
}

h2.titles {
    color: #5b96e9;
}

div.row {
    color: #5b96e9;
}