div.main_content {
  padding: 10px;

  div.post {
    border: 2px solid black;
    background-color: $verylightgray;
    margin: 10px;

    div.thumb_div {
      margin: 5px;
    }
  }

}