{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // Like callbacks.
    var set_thumb_url = "{{=URL('api', 'set_thumb', user_signature=True)}}";
    var thumb_count_url = "{{=URL('api', 'get_thumb_count')}}"
    // Stars.
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <div id="form">
          <div v-if="show_form" id="add_post_div">
              <form id="testing">
                  <input type="text" v-model="form_title" placeholder="Enter the post title"></input>
                  <input type="text" v-model="form_content" placeholder="Enter the content of your post"></input>
              </form>
          </div>
          <button v-if="!show_form" id="add_post_button" v-on:click="add_post_button"><i class="fa fa-plus"></i> Add Post </button>
          <button v-if="show_form" id="submit_post" v-on:click="add_post"> Submit</button>
          <button v-if="show_form" id="cancel_post_button" v-on:click="add_post_button"> Cancel </button>
        </div>


      <!-- Message in case there are no posts. -->
      <div v-if="post_list.length === 0">There are no posts.</div>

      <!-- We display the posts. -->
      <div id="post_list">
        <div class="post_div" v-for="post in post_list">
          <div class="post_title">${post.post_title}</div>
          <div class="post_content">${post.post_content}</div>
          <div class="attributes">
            <!-- Code for Thumbs. -->
            <div v-if="is_logged_in" class="toggle_thumb">

                <i v-if="post.thumb == 'u'" class="fa fa-thumbs-up" v-on:click="thumb_click(post._idx, 'u')" ></i>
                <i v-if="post.thumb != 'u'" class="fa fa-thumbs-o-up" v-on:click="thumb_click(post._idx, 'u')" ></i>
                <i v-if="post.thumb == 'd'" class="fa fa-thumbs-down" v-on:click="thumb_click(post._idx, 'd')" ></i>
                <i v-if="post.thumb != 'd'" class="fa fa-thumbs-o-down" v-on:click="thumb_click(post._idx, 'd')" ></i>
                  Likes: ${post.thumb_count}
             <!--    <div v-show="post.thumb == null">
                  <div v-show="post._thumb == 'u'">
                    <i class="fa fa-thumbs-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')"></i>
                    <i class="fa fa-thumbs-o-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')"></i>
                  </div>
                  <div v-show="post._thumb == 'd'">
                    <i class="fa fa-thumbs-o-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" ></i>
                    <i class="fa fa-thumbs-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" ></i>
                  </div>
                  <div v-show="post._thumb == null">
                    <i class="fa fa-thumbs-o-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" ></i>
                    <i class="fa fa-thumbs-o-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" ></i>
                  </div>
                </div>

                <div v-show="post.thumb == 'u'">
                  <div v-show="post._thumb == 'u'">
                    <i class="fa fa-thumbs-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')"></i>
                    <i class="fa fa-thumbs-o-down changed" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')"></i>
                  </div>
                  <div v-show="post._thumb == 'd'">
                    <i class="fa fa-thumbs-o-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" ></i>
                    <i class="fa fa-thumbs-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" ></i>
                  </div>
                  <div v-show="post._thumb == null">
                    <i class="fa fa-thumbs-o-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" ></i>
                    <i class="fa fa-thumbs-o-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" ></i>
                  </div>
                </div>

                 <div v-show="post.thumb == 'd'">
                  <div v-show="post._thumb == 'u'">
                    <i class="fa fa-thumbs-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')"></i>
                    <i class="fa fa-thumbs-o-down changed" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')"></i>
                  </div>
                  <div v-show="post._thumb == 'd'">
                    <i class="fa fa-thumbs-o-up changed" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" ></i>
                    <i class="fa fa-thumbs-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" ></i>
                  </div>
                  <div v-show="post._thumb == null">
                    <i class="fa fa-thumbs-o-up" v-on:click="thumb_click(post._idx, 'u')" v-on:mouseover="thumb_mouseover(post._idx, 'u')" ></i>
                    <i class="fa fa-thumbs-o-down" v-on:click="thumb_click(post._idx, 'd')" v-on:mouseover="thumb_mouseover(post._idx, 'd')" ></i>
                  </div>
                </div> -->

          </div>
        </div>
      </div>

    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
