{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
  var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
  var edit_comment_url = "{{=URL('api', 'edit_comment', user_signature=True)}}";
  var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
  var sort_posts_url = "{{=URL('api', 'sort_posts')}}";
  // Like callbacks.
  var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
  var get_likers_url = "{{=URL('api', 'get_likers')}}"
  // Stars.
  var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";

  var getCommentsUrl = "{{=URL('api', 'get_comments')}}";
  var saveCommentUrl = "{{=URL('api', 'set_comments')}}";
  var user_email = 'false'

  var is_logged_in = {{='false' if auth.user is None else 'true'}};


  var logged_in_user = "{{=URL('api', 'get_logged_in_user')}}";

</script>
{{end}}

<div>


</div>
</html>