{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
  var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
  var delete_post_url = "{{=URL('api', 'delete_post', user_signature=True)}}";
  var edit_comment_url = "{{=URL('api', 'edit_comment', user_signature=True)}}";
  var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
  var sort_posts_url = "{{=URL('api', 'sort_posts')}}";
  // Like callbacks.
  var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
  var get_likers_url = "{{=URL('api', 'get_likers')}}"
  // Stars.
  var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";

  var getCommentsUrl = "{{=URL('api', 'get_comments')}}";
  var saveCommentUrl = "{{=URL('api', 'set_comments')}}";
  var user_email = 'false'

  var is_logged_in = "{{='false' if auth.user is None else 'true'}}";


  var logged_in_user = "{{=URL('api', 'get_logged_in_user')}}";

</script>
{{end}}

<style type="text/css">
  #edithover:hover{
    color: gray;
  }
  #replyBtn{
    margin-top: 10px;
  }
  #comments{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #buttons{
    margin-top: 10px;
  }
  hr.someClass {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 5px;
  }
</style>

<div class="container main_content">
   <div class="adi_content">
     <div class="adi_copy">
        <h1 class="adi_heading" style="color:#6393D2; text-decoration:underline; text-shadow: 2px 2px  black; font-style: italic;">E-College Books</h1>
        <p class="adi_text" style="color:#511691;">The go to marketplace for all things textbook related.</p>
        <div>
           <button class="adi_signup" onclick="location.href='http://127.0.0.1:8000/hw4/default/user/register?_next=/hw4/default/index'">Sign Up</button>
        </div>
     </div>
     <img class="adi_image" src="http://127.0.0.1:8000/hw4/static/images/home.jpg" width="300" height="300" alt="image not found"></img>
  </div>


  
  <div id="vue-div" class="container display:none">
    <!--Search button functionality needs to be added here-->
    <div class="container">
        <div class="half search_bars">
          <div class="topnav" style="padding:15px;">
            <span class="sorting_title">Please Enter A Key Word Into The Search Bar</span>
            <input type="text" placeholder="Search for books" style="margin:10px; width:95%; border: 1px black solid;">
            <button style="margin:10px;">Search - (Not Working Yet)</button>
          </div>
        </div>
        <div class="half sorting" style="padding:15px;">
            <span class="sorting_title">Select A Method To Sort By:</span>
            <select v-model="form_sort" style="border: 1px black solid;">
            <option disabled value="">Sort By</option>
            <option>Alphabetical</option>
            <option>Category</option>
            <option>Price</option>
            </select>
          <button v-on:click="get_posts(form_sort)" style="margin:10px;">Sort</button>
        </div>  
    </div>

    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
    <!-- Message in case there are no posts. -->
  <div v-if="post_list.length === 0">There are no posts.</div>

  <!-- We display the posts. -->
  <div class="half post_list">
    <div class="post_div" v-for="post in post_list">
      <div class="post_title" style="font-weight:bold;">${post.post_title}</div>
      <div class="post_content" v-if="post.editing === false">
        Edition: ${post.post_edition}
        <!-- <p v-if="post.post_author === logged_in_user">this is my post</p> -->
        <i v-if="post.post_author === logged_in_user" class="fa fa-pencil-square-o" id="edithover" v-on:click="editPost(post._idx)"></i>
      </div>
      <div class="post_content" v-if="post.editing === false">
        Price: $${post.post_price}
        <!-- <p v-if="post.post_author === logged_in_user">this is my post</p> -->
        <i v-if="post.post_author === logged_in_user" class="fa fa-pencil-square-o" id="edithover" v-on:click="editPost(post._idx)"></i>
      </div>
      <div class="post_content" v-if="post.editing === false">
        Condition: ${post.post_condition}
        <!-- <p v-if="post.post_author === logged_in_user">this is my post</p> -->
        <i v-if="post.post_author === logged_in_user" class="fa fa-pencil-square-o" id="edithover" v-on:click="editPost(post._idx)"></i>
      </div>
      <div class="post_content" v-if="post.editing === false">
        Category: ${post.post_category}
        <!-- <p v-if="post.post_author === logged_in_user">this is my post</p> -->
        <i v-if="post.post_author === logged_in_user" class="fa fa-pencil-square-o" id="edithover" v-on:click="editPost(post._idx)"></i>
      </div>
      <div v-if="post.editing === true">
        <textarea v-model="post.post_content" id="edittext"></textarea>
        <button v-on:click="submitEditPost(post._idx)">submit!</button>
      </div>
      <!-- Button to view post for more info -->
      <button onclick="location.href='http://127.0.0.1:8000/hw4/default/book'">View Book!</button>
      <button  v-on:click="delete_post(post._idx)">Delete</button>
    </div>
  </div>

    <!-- First, let's add a form to insert blog posts. -->
    <div id="add_post" style="display:none" class="half add_post">
      <div class="add_post_title">Turn Your Books Into Money Here!</div>
      <div id="show_add_post" style="display:none">
          <div class="container form_row">
            <div class="label">
              Title:
            </div>
            <div class="form new_post_fields">
              <input v-model="form_title" placeholder="Enter the book's title"/>
            </div>
          </div>

          <div class="container form_row">
            <div class="label">
              Edition:
            </div>
            <div class="form new_post_fields">
              <input v-model="form_edition" placeholder="Enter the book's edition"/>
            </div>
          </div>

          <div class="container form_row">
            <div class="label">
              Price:
            </div>
            <div class="form new_post_fields">
              <textarea v-model="form_price" placeholder="Enter the price of your book"></textarea>
            </div>
          </div>

          <div class="container form_row">
            <div class="label">
              Condition:
            </div>
            <div class="form new_post_fields">
              <textarea v-model="form_condition" placeholder="Enter the condition of your book"></textarea>
            </div>
          </div>
          
          <div class="container form_row">
            <div class="label">
              Category:
            </div>
            <div class="form new_post_fields">
              <select v-model="form_category">
                <option disabled value="">Please select one</option>
                <option>Biology</option>
                <option>Chemistry</option>
                <option>Math</option>
                <option>Computers/Technology</option>
                <option>English</option>
                <option>Physics</option>
                <option>History</option>
                <option>Economics</option>
                <option>Other</option>
                <option>Other</option>
              </select>
            </div>
          </div>

          <div class="container form_row">
            <div class="submit">
                <span>
                  <button id="add-post" v-on:click="add_post">Submit</button>
                  <button id="show_hide_button2" class="show_hide_button2" onclick="show_hide_add_post()">Hide Form</button>
                </span>  
            </div>
          </div>
      </div>
      <button id="show_hide_button" class="show_hide_button" onclick="show_hide_add_post()">Show Form</button>
  </div>

</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>
