{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
  var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
  var edit_comment_url = "{{=URL('api', 'edit_comment', user_signature=True)}}";
  var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
  // Like callbacks.
  var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
  var get_likers_url = "{{=URL('api', 'get_likers')}}"
  // Stars.
  var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";

  var getCommentsUrl = "{{=URL('api', 'get_comments')}}";
  var saveCommentUrl = "{{=URL('api', 'set_comments')}}";
  var user_email = 'false'

  var is_logged_in = {{='false' if auth.user is None else 'true'}};


  var logged_in_user = "{{=URL('api', 'get_logged_in_user')}}";

</script>
{{end}}

<style type="text/css">
  #edithover:hover{
    color: gray;
  }
  #replyBtn{
    margin-top: 10px;
  }
  #comments{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #buttons{
    margin-top: 10px;
  }
  hr.someClass {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 5px;
  }
</style>

<div class="container main_content">


   <div class="topnav quarter">
      <input type="text" placeholder="Search for books">
   </div>
  <div id="vue-div" class="container display:none">


    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
    <!-- Message in case there are no posts. -->
  <div v-if="post_list.length === 0">There are no posts.</div>

  <!-- We display the posts. -->
  <div class="half post_list">
    <div class="adi_content">
      <div class="adi_copy">
         <h1 class="adi_heading" style="color:#6393D2;">E-College Books</h1>
         <p class="adi_text" style="color:#511691;">The go to marketplace for all things textbook related.</p>
         <div>
            <a class="adi_signup" href="#">Sign Up</a>
         </div>
      </div>
      <img class="adi_image" src="home.jpg" width="15" height="30"></img>
   </div>
    <div class="post_div" v-for="post in post_list">
      <div class="post_title">${post.post_title}</div>
      <div class="post_content" v-if="post.editing === false">
        Price: ${post.post_price}
        <!-- <p v-if="post.post_author === logged_in_user">this is my post</p> -->
        <i v-if="post.post_author === logged_in_user" class="fa fa-pencil-square-o" id="edithover" v-on:click="editPost(post._idx)"></i>
      </div>
      <div class="post_content" v-if="post.editing === false">
        Condition: ${post.post_condition}
        <!-- <p v-if="post.post_author === logged_in_user">this is my post</p> -->
        <i v-if="post.post_author === logged_in_user" class="fa fa-pencil-square-o" id="edithover" v-on:click="editPost(post._idx)"></i>
      </div>
      <div class="post_content" v-if="post.editing === false">
        Category: ${post.post_category}
        <!-- <p v-if="post.post_author === logged_in_user">this is my post</p> -->
        <i v-if="post.post_author === logged_in_user" class="fa fa-pencil-square-o" id="edithover" v-on:click="editPost(post._idx)"></i>
      </div>
      <div v-if="post.editing === true">
        <textarea v-model="post.post_content" id="edittext"></textarea>
        <button v-on:click="submitEditPost(post._idx)">submit!</button>
      </div>
    </div>
  </div>

    <!-- First, let's add a form to insert blog posts. -->
    <div id="add_post" style="display:none" class="half">
      <div class="container form_row">
        <div class="label">
          Title:
        </div>
        <div class="form half">
          <input v-model="form_title" placeholder="Enter the book's title"/>
        </div>
      </div>
      <div class="container form_row">
        <div class="label">
          Price:
        </div>
        <div class="form half">
          <textarea v-model="form_price" placeholder="Enter the price of your book"></textarea>
        </div>
      </div>
      <div class="container form_row">
        <div class="label">
          Condition:
        </div>
        <div class="form half">
          <textarea v-model="form_condition" placeholder="Enter the condition of your book"></textarea>
        </div>
      </div>
      <div class="container form_row">
        <div class="label">
          Category:
        </div>
        <div class="form half">
          <select v-model="form_category">
            <option disabled value="">Please select one</option>
            <option>Biology</option>
            <option>Chemistry</option>
            <option>Math</option>
            <option>Computers/Technology</option>
            <option>English</option>
            <option>Physics</option>
            <option>History</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      <div class="container form_row"><div class="quarter"></div>
        <div class="submit">
          <button id="add-post" v-on:click="add_post">Submit</button>
      </div>
    </div>
  </div>

</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>
