/* line 1, ../sass/_main.scss */
div.main_content {
  padding: 10px;
}
/* line 4, ../sass/_main.scss */
div.main_content div.post {
  border: 2px solid black;
  background-color: #dddddd;
  margin: 10px;
}
/* line 9, ../sass/_main.scss */
div.main_content div.post div.thumb_div {
  margin: 5px;
}

