{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // Like callbacks.
    var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    var get_likers_url = "{{=URL('api', 'get_likers')}}"

    var set_hate_url = "{{=URL('api', 'set_hate', user_signature=True)}}";
    var get_haters_url = "{{=URL('api', 'get_haters')}}"

    var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

      <!-- First, let's add a form to insert blog posts. -->
      <div id="add_post" style="display:none">
        <div class="container form_row">
          <div class="label quarter">
            Title:
          </div>
          <div class="form threequarters">
            <input v-model="form_title" placeholder="Enter the post title"/>
          </div>
        </div>
        <div class="container form_row">
          <div class="label quarter">
            Content:
          </div>
          <div class="form threequarters">
            <textarea v-model="form_content" placeholder="Enter the content of your post"></textarea>
          </div>
        </div>
        <div class="container form_row"><div class="quarter"></div>
          <div class="threequarters">
            <div class="submit">
              <button id="add-post" v-on:click="add_post">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Message in case there are no posts. -->
      <div v-if="post_list.length === 0">There are no posts. You need to log in or refresh the page to see the posts.</div>

      <!-- We display the posts. -->
      <div id="post_list">
        <div class="post_div" v-for="post in post_list">
          <div class="post_title">${post.post_title}</div>
          <div class="post_content">${post.post_content}</div>
          <div class="attributes">

            <!-- Code for likes. -->
            <div class="likers">
              <span class="show_likers"
                    v-on:mouseover="show_likers(post._idx)"
                    v-on:mouseout="hide_likers(post._idx)">
                <span v-if="is_logged_in" class="toggle_like"
                      v-on:mouseover="like_mouseover(post._idx); show_likers(post._idx)"
                      v-on:mouseout="hide_likers(post._idx); like_mouseout(post._idx)"
                      v-on:click="like_click(post._idx)">
                  <i v-if="post._smile" class="fa fa-thumbs-up" v-bind:class="{changed: post._smile === !post.like}"></i>
                  <i v-if="!post._smile" class="fa fa-thumbs-o-up" v-bind:class="{changed: post._smile === !post.like}"></i>
                </span>
                <span v-if="post._show_likers" class="likers_list">
                  <span v-for="liker in post._likers" class="liker">${liker} &nbsp</span>
                  <span v-if="post._likers.length > 0">liked it.</span>
                </span>
              </span>
            </div>

            <!-- Code for hates. -->
            <div class="haters">
              <span class="show_haters"
                    v-on:mouseover="show_haters(post._idx)"
                    v-on:mouseout="hide_haters(post._idx)">
                <span v-if="is_logged_in" class="toggle_hate"
                      v-on:mouseover="hate_mouseover(post._idx); show_haters(post._idx)"
                      v-on:mouseout="hide_haters(post._idx); hate_mouseout(post._idx)"
                      v-on:click="hate_click(post._idx)">
                  <i v-if="post._cry" class="fa fa-thumbs-down" v-bind:class="{changed: post._cry === !post.hate}"></i>
                  <i v-if="!post._cry" class="fa fa-thumbs-o-down" v-bind:class="{changed: post._cry === !post.hate}"></i>
                </span>
                <span v-if="post._show_haters" class="haters_list">
                  <span v-for="hater in post._haters" class="hater">${hater} &nbsp</span>
                  <span v-if="post._haters.length > 0">disliked it.</span>
                </span>
              </span>
            </div>


          </div>
        </div>
      </div>

    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
