{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

  <p>
    <a href="{{=URL('default', 'add')}}" class="btn">New For Sale Post</a>
  </p>

{{for r in rows:}}
  <div class="post">
    <span class="post_content_descriptions">Seller: </span><span>{{=r['post_author']}}</span><br/>
    <span class="post_content_descriptions">Book Title: </span><span>{{=r['post_title']}}</span><br/>
    <span class="post_content_descriptions">Price: </span><span>{{=r['post_content']}}</span><br/>

    <div class="button_row" style="padding: 5px;">
      {{if auth.user is not None and auth.user.email == r['post_author']:}}
        <a href="{{=URL('default', 'edit', args=[r['id']])}}" class="btn">
          <i class="fa fa-pencil-square-o"></i> Edit
        </a>
      {{pass}}
      {{if auth.user is not None and auth.user.email == r['post_author']:}}
        <a href="{{=URL('default', 'delete', args=[r['id']])}}" class="btn">
          <i class="fa fa-minus"></i> Delete
        </a>
      {{pass}}
      {{if auth.user is not None:}}
        <a href="{{=URL('default', 'add_reply', args=[r['id']])}}" class="btn">
          <i class="fa fa-plus"></i> Reply
        </a>
      {{pass}}

      <br/>
    </div>

    <!-- Here we display the replies.  If you are the author of a reply, you can edit/delete it. -->
      {{for reply in r['reply_list']:}}
      {{pass}}
      {{if auth.user is not None:}}
        <div class="reply">
          <!-- Display here a reply -->
          <span class="reply_content_descriptions">Seller: </span><span>{{=reply['reply_author']}}</span><br/>
          <span class="reply_content_descriptions">Book: </span><span>{{=reply['reply_content']}}</span><br/>
          {{if auth.user is not None and auth.user.email == reply['reply_author']:}}
            <div class="reply options"  style="padding: 5px;">
              <a href="{{=URL('default', 'edit_reply', args=[reply['reply_id']], user_signature=True)}}" class="btn">
                <i class="fa fa-pencil-square-o"></i> Edit
              </a>
              <a href="{{=URL('default', 'delete_reply', args=[reply['reply_id']], user_signature=True)}}" class="btn">
                <i class="fa fa-trash-o"></i> Delete
              </a>
            </div>

          {{pass}}
        </div>

        <br/>

      {{pass}}
  </div>
{{pass}}

</div>

